{% extends "base.html" %}

{% block title %}
CAFES/RESTAURANTS
{% endblock title %}


{% block body %}
<h2>List Of Cafes/Restaurants:</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" bis_skin_checked="1">
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/fabrica.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Fabbrica</b><br>Fabbrica, a pizza haven renowned for its authenticity, crafts perfection in every slice. Nestled in the heart of flavor, Fabbrica tantalizes taste buds with a symphony of fresh ingredients, artisanal crust, and a rich heritage of Italian culinary mastery.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/JVa71KisnxizCUwZ8" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/chinatown.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>ChinaTown,Kolkata</b><br>The traditional occupation of the Chinese Indian community in Kolkata had been working in the nearby tanning industry as well as in Chinese restaurants. The area is still noted for the Chinese restaurants where many people flock to taste traditional Chinese and Indian Chinese cuisine.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/EBN9wqgYApFu5aM29" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/sorano.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Sorano</b><br>Sorano, a culinary gem, transports diners to Italy with its exquisite and authentic flavors. A symphony of traditional ingredients and culinary mastery, Sorano crafts a gastronomic experience that lingers, leaving patrons enchanted by the essence of Italian cuisine.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/oQYaZeWpXZyuhrXV7" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/ozora.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Ozora</b><br>Ozora, a celestial escape perched on a rooftop, elevates dining to new heights. With a panoramic view and a menu that transcends boundaries, Ozora curates an unforgettable experience, offering some of the finest culinary delights that tantalize the senses.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/bzbM7MggDfo8Sy567" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/magpie.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Mrs.Magpie</b><br>Mrs. Magpie, a sweet haven for indulgence, redefines dessert dreams. This confectionery paradise weaves magic with its delectable array of sweets and treats, where every bite is a symphony of flavors, crafting an unparalleled delight for the dessert aficionado.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/FLLJstKzCJmqfmyT7" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/og.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>OG By The Lake</b><br>A panoramic view of a waterbody, the Maa flyover, and a vibe that matches the view, OG By The Lake is the expansive (16,000sq ft) new cafe-cum-dine den that opens doors today. Nestled in the corner plot at Calcutta Boating and Hotel Resorts, right next to the play turf Orchid Arena, is this 250-seater space that has an indoor air-conditioned glass house, and numerous semi-open and outdoor decks for guests to soak in the best of the city, alongside some decadent world cuisine. </p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/9m1Zp1pP2nLoExD16" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/calcutta.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Oh! Calcutta</b><br>Oh! Calcutta, a culinary haven, pays homage to the rich tapestry of Bengali cuisine. From the aromatic macher jhol to the exquisite rosogolla, each dish is a journey through the flavors of Bengal, offering an authentic and unforgettable dining experience.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/AMSJa1rwGTLt6NJ59" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/6.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>6 Ballygunge Place</b><br>6 Ballygunge Place is a Bengali restaurant chain established in 2003. Its main branch is located at Ballygunge, Kolkata, India at a British Raj mansion. It has other branches in Bangalore and Guwahati.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/hAPUcCd3PbJyM5ab9" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/ekante.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Cafe Ekante</b><br>Cafe Ekante, a serene oasis, invites patrons to unwind in a tranquil ambiance. Nestled in the heart of relaxation, it serves up a delightful fusion of aromatic coffees, delectable pastries, and savory bites. A retreat where every sip and bite is an escape to bliss.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/BBXJf6B3hT94tnwT9" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" bis_skin_checked="1">
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/tea.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>The Tea Trove Cafe</b><br>Tea Trove, a haven for tea enthusiasts, unveils a world of aromatic delights. With an exclusive focus on a myriad of tea blends, from comforting classics to exotic infusions, it's a serene space where every cup tells a unique story of flavor and tranquility.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/UigrHkYdyMngvpqJ6" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/owl.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Wise Owl Café</b><br>Wise Owl Café, a cozy retreat for coffee aficionados, whispers tales of rich aromas and velvety blends. Nestled in its warmth, patrons savor the artistry of finely brewed coffee, where each cup is a wise indulgence, fostering moments of contemplation and caffeine-infused joy.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/VtXKxBh27d5nZdDf8" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/whistle.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>The Whistling Kettle</b><br>The Whistling Kettle, a charming tea haven, orchestrates a symphony of flavors. Amidst the gentle hum of brewing, it curates an experience where tea enthusiasts explore a diverse collection of soothing blends. Here, every cup is a melodious journey into the world of aromatic indulgence.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/naKuyMri3EjPxVaV8" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/cafe.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Cafe 4/1</b><br>Café 4/1, renowned for its enchanting ambiance, weaves a tapestry of elegance and comfort. A symphony of soft lighting and plush decor invites patrons to indulge in a culinary journey amidst a backdrop of refined charm, making every dining experience a memorable blend of taste and sophistication.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/wgxq6DddjLY9CXu49" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/swiss.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Café Swissôtel Kolkata</b><br>Café Swissôtel Kolkata, an epitome of culinary excellence, beckons with a fusion of global flavors and local charm. Nestled in luxury, it crafts an unparalleled dining experience where gourmet delights meet sophisticated ambiance, creating moments that linger long after the last sip.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/D7MWw3jrxscJf1hC7" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/fly.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Cafe ICanFlyy</b><br>Cafe ICanFlyy, a whimsical haven, takes patrons on a journey through delectable delights and creative ambiance. With every sip and bite, this charming spot encourages visitors to embrace a sense of joy, making it more than just a café—a place where imagination and flavor take flight.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/wT3ydof1c4C5DmpA8" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/manna.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Bhojohori Manna</b><br>Bhojohori Manna, an ode to Bengal's culinary heritage, captivates diners with its authentic Bengali flavors. From the iconic Shorshe Ilish to soulful Mishti Doi, it weaves a tapestry of regional delicacies, inviting patrons to savor the essence of Bengal's rich gastronomic traditions.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/izsApGceBcFjGgiS8" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/bohemian.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Bohemian</b><br>Bohemian Sky Cafe, an ethereal retreat suspended in the clouds, elevates the dining experience to new heights. With panoramic views and a bohemian-inspired atmosphere, it offers a haven where creativity and cuisine converge, inviting patrons to savor not just the food but a unique and whimsical ambiance that touches the sky.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/eULve7mQ9TzHudKi9" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/kasturi.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Kasturi</b><br>Kasturi, a Bengali restaurant, is a culinary voyage through the heart of Bengal's flavors. With dishes like the iconic Fish Curry and Rasgulla, it's a sensory celebration of the region's rich gastronomic heritage, inviting patrons to savor the authentic taste of Bengal in every bite.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/1ZyFH1q2bUtvdQ6cA" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
