{% extends "base.html" %}

{% block title %}
TOURIST PLACES
{% endblock title %}


{% block body %}
<h2>List of Places to Visit:</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" bis_skin_checked="1">
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/subhas.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Subhash Sarovar</b><br>Subhash Sarovar makes to our list of Kolkata unexplored places which is apt for all those people who want to be in a peaceful surrounding for some time. The pristine lake surrounded by verdant greenery and chirping of birds, makes this place perfect for the solitude lovers.
          </p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/SnZvYwSYNy8SjYEv5" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/buddhist.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Nipponzan Myohoji Buddhist Temple</b><br>This is a Japanese Buddhist temple which is not known to many yet. There are statues of Buddha and pillars with lions on the temple. People visit this temple to meditate and find inner peace.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/NSmmiqGK38wc2mtn7" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/raichak.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Raichak: Riverbank Destination</b><br>Raichak has emerged as a sought-after weekend destination, a drive away from Kolkata, offering a spectacular view of the river Ganges and the 18th century Radisson Fort or the Raichak Fort. Situated at the banks of the river Hoogly, Raichak proves to be a quaint settlement, famous for its serenity and scenery.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/4btPtYop7VCwcu1F9" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/kumortuli.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Clay Statues of Kumortuli</b><br>The artists use mud sourced from the sacred Ganges river or imported from other areas in India. They mold and bind hay and bamboo into shapes to form the statues’ skeletons. Once this is crafted and dried, layers and layers of mud are added until the artist is happy with their work.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/R4D3qiebZsQ9kd5J6" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/temple.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Dakshineshwar Kali Temple</b><br>Situated on the banks of Ganga, this famous site of pilgrimage was founded by Kali devotee and prominent Bengali reformer and freedom fighter Rani Rashmoni. Ramkrishna Pramahans was the head priest here.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/6fxJvy9fFW7EmW8v9" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/maidan.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Maidan</b><br>Surrounded by city landmarks like Raj Bhavan, Fort William, Eden Gardens and Victoria Memorial, this thousand-acre stretch of greenery acts as the lungs of the city and the favourite playground for its sports crazy residents.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/er9Gp6MD6XH71ShZ9" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/belur.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Belur Math</b><br>A striking temple with artistic domes that can be seen from far, Belur Math was built on the western bank of River Hooghly. It is dedicated to Ramkrishna Mission, a spiritual body that promotes peace and unity.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/rfzfSgr6sn3XQ12X6" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/victoria.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Victoria Memorial</b><br>A sprawling marble palatial monument dedicated to the memory of Britan’s Queen Victoria, this is one of Kolkata’s most famous landmarks and was built using the same Makrana Marble as Taj Mahal.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/ZHg5dSm4MhjDaRja8" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/museum1.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Indian Museum</b><br>Located in the New Market area, this museum showcases many rare collections of paintings, artefacts, artworks, fossils and antiques. It is the ninth oldest museum in the world and is popularly called ‘Jadughar'.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/hoWbMNSqpvifQxzr6" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" bis_skin_checked="1">
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/howrah.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Howrah Bridge</b><br>Opened in February 1943, this cantilever steel bridge hangs majestically over River Hooghly (Ganga) and was often the first sight that greeted awe-struck travellers who arrived in the city from nearby towns, by rail or water.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/n1tHQsVxWNyYjqd78" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/thakurbari.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Jorasanko ThakurBari</b><br>Literally translating to the House of Thakurs, Jorasanko Thakur Bari is the ancestral home of the Kolkata's eminent Tagore Family. It has also been the centre for political and cultural discussions during India’s independence struggle.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/A4uGKQUz9Eupv5JF9" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/princep.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Princep Ghat</b><br>Prinsep Ghat, one of the prettiest and most accessible ghats on River Hooghly, was established during the British Raj. A Palladian porch also graces the area overlooking Vidyasagar Setu in the background.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/TJTU5CH3Trj4Kvsg7" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/square.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Dalhousie Square</b><br>Officially called BBD Bagh, this is the current government's administrative hub. Most of the buildings here were built by the British when Kolkata (then Calcutta) was their capital.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/HqMHtPhH3uAM1k6z7" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/marble.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Marble Palace Mansion</b><br>The façade of the privately-owned mansion is built in neoclassical style, and still continues to be the residence of Rajendra Mullick’s descendants and is considered the most preserved monuments of Kolkata. The mansion is surrounded by sprawling lawns, along with fountains and a private zoo. The galleries of the mansion are overstuffed with statues, portraits, mirrors, chandeliers and paintings that are by English, Dutch and Italian artists.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/R8ADa7JKmds8sapE6" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/ecopark.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Ecopark</b><br>The biggest ecological and urban park in India, Eco Park is spread over an area of 480 acre and surrounded by a 104-acre water body. It has three sections: the ecological areas such as wetlands, grasslands and urban forest, theme gardens and open spaces, and urban recreational spaces.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/nWv71D5xsN1UntU97" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/cemetry.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Park Street cemetery</b><br> It was built in 1767 for the earliest British pioneers of the East India Company and is the final resting place of soldiers, sailors, civil servants, traders, women, and children who succumbed to the hardships of an unfamiliar and disease-ridden life in the Indian tropics.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/58Qfjof6xmXpH4cN7" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/building.jpg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Writer's Building</b><br>The Writers' Building in Kolkata, India is the official secretariat building of the state government of West Bengal, covering the northern stretch of the Lal Dighi or Red Lake at the center of historic B.B.D. Bagh. It was the first three-story building in Kolkata, completed in 1780, and originally served as the principal administrative office for writers (junior clerks) of the British East India Company (EIC).</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/SRm3iUPyyTUy7iQp9" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col" bis_skin_checked="1">
      <div class="card shadow-sm" bis_skin_checked="1">
        <img src="/static/img/vedic.jpeg" class="d-block w-100" alt="...">
        <div class="card-body" bis_skin_checked="1">
          <p class="card-text"><b>Vedic Village</b><br>Vedic Village Spa Resort is a hidden gem, nestled in the lap of nature just 20 minutes away from the international airport in Kolkata, India. Built horizontally in the authentic architecture of Bengal villages, the world- class luxury resort blends in completely with the uniqueness of the landscape. It combines tremendous natural beauty and outdoor fun with unbeatable indoor luxury.</p>
          <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
            <div class="btn-group" bis_skin_checked="1">
              
              <a href="https://maps.app.goo.gl/zwhB6xrAkZsrVwMZ6" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Location</button></a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
